<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name %>
  </div>

  <div class="field">
    <%= form.label :icon, class: 'upload-btn' %>
    <%= form.file_field :icon, id: :service_icon %>
  </div>

  <div class="field">
    <%= form.label :short_desc %>
    <%= form.text_area :short_desc, id: :service_short_desc %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :DoMce %>
  </div>

  <div class="field">
    <%= form.label :banner, class: 'upload-btn' %>
    <%= form.file_field :banner, id: :service_banner %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
