<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @service.short_desc %>
</p>

<p>
  <strong>Content:</strong>
  <%= @service.content %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @service.icon %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @service.banner %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
