<%= render 'layouts/navbar' %>
<% content_for(:body_attributes) do %>
	data-turbolinks="false"
<% end %>
<p id="notice"><%= notice %></p>
<div class="service-show">
	<div class="service-banner">
		<%= image_tag(@service.banner) %>
	</div>
	<div class="service-name">
		<h1><%=@service.name%></h1>
	</div>
	<div class="service-content">
		<%= raw @service.content %>
	</div>
</div>
<% if current_user %>
<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
<% end %>
