<%= render 'layouts/navbar' %>
<% content_for(:body_attributes) do %>
	data-turbolinks="false"
<% end %>
<div class="banner">
	<div class="image left"></div>
	<div class="image right"></div>
	<div class="title-1">we <span>don't</span> do</div>
	<div class="title-2">ordinary</div>
	<div class="sub">take a look</div>
	</div>
<div class="banner-triangle">
	<%= image_tag('tri') %>
</div>
<div class="para-1">
	<p>
		The Content Market is a forward thinking content marketing agency with a creative approach to multi-channel marketing and consumer digital communications. With experience in PR, marketing strategy, social media, SEO, websites, design, content creation and video, including animation, we combine online and offline channels for powerful results.
	</p>
 	<p>
 		Based in Harrogate and with offices in London and Edinburgh we work with businesses throughout the UK. Our services include online and traditional PR, on site SEO, launch PR, design, branding, website development, social media marketing and content marketing strategy.
 	</p>
 	<p>
 		Our content marketing team delivers high quality content to drive brand awareness and visibility across multiple channels.
 	</p>
</div>
<div class="services" id="services">
	<h1>Now, see what we can do for you</h1>
	<% unless current_user.nil? %>
		<% if current_user.email == "dan24797@gmail.com" || current_user.email == "cmadmin" %>
			<%= link_to 'New Service', new_service_path, class: 'btn' %>

		<% end %>
	<% end %>
	<div class="flex-wrap">
		<% @services.each do |service| %>
			<div class="service">
				<%= link_to service do %>
				<div class="image"><%= image_tag(service.icon) %></div>
				<div class="title"><%=service.name %></div>
				<div class="desc"><%= service.short_desc %></div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<div class="brands">
	<h1>We've worked with some great brands</h1>
	<div class="slickify">
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
	</div>
</div>
<div class="case-studies" id="success-stories">
	<div class="wrapper">
		<h1>And helped them achieve their goals</h1>
	  	<div class="cols">
			<div class="col revs" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front">
						<div class="inner">
							<p>Revolution Bars Group</p>
	          				<span>Launch PR</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Media coverage, blogger events, cocktail and burrito making, secret salsa and local business collaborations meant the opening of rum bar Revolucion de Cuba in Harrogate was a huge success.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col fss" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front">
						<div class="inner">
							<p>FSS Estate Agents</p>
	          				<span>Animation &amp; Design</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>We’ve used design and animation in all sorts of ways for FSS estate agents. Our Valentine’s Day secret admirer door drop and our popping sale boards animation have really helped raise the brand profile.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col chip" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front">
						<div class="inner">
							<p>Chippindale Foods</p>
	          				<span>Marketing Campaigns</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Chippindale Foods is passionate about supporting free range egg producers and the environment. We’ve helped them share their passion with innovative campaigns about bumblebee conservation and food provenance.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col jespers" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front">
						<div class="inner">
							<p>Jespers</p>
	          				<span>Social Media</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>We've helped pen and stationery specialist Jespers spread the word about great products and customer service on Facebook, Twitter and Instagram. We've had some help from #stationeryspaniel of course.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col fftg" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front">
						<div class="inner">
							<p>Flowers From the Garden</p>
	          				<span>Web Design</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>We design and build good looking, high ranking websites that Google loves as much as your customers. Recent projects include a bright, clean and highly visual site for Flowers From The Garden.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col yhl" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front">
						<div class="inner">
							<p>YHL Parks</p>
	          				<span>Content &amp; SEO</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Being visible online is massively important for tourism businesses which is why YHL Parks use us to write regular, engaging content for their blogs, websites and press releases. We also monitor, manage and analyse their SEO. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
 	</div>
</div>
<div class="contact">
	<h1>Get in touch so we can help you grow, today</h1>
	<div class="cdetails">
		<div class="email">
			<div class="image">
				<%= image_tag('services/email') %>
			</div>
			<div class="content">
				hello@content-market.co.uk
			</div>
		</div>
		<div></div>
		<div class="phone">
			<div class="image">
				<%= image_tag('services/phone') %>
			</div>
			<div class="content">
				01423 501323
			</div>
		</div>
		<div></div>
		<div class="location">
			<div class="image">
				<%= image_tag('services/location') %>
			</div>
			<div class="content">
				Windsor House, Cornwall Road <br/>
				Harrogate, North Yorkshire, HG1 2PW
			</div>
		</div>
	</div>
	<div class="cform">
		<h1>send us a message</h1>
		<form action="/send-mail">
			<input type="text" name="contact_name" placeholder="YOUR NAME...">
			<input type="email" name="contact_email" placeholder="YOUR EMAIL...">
			<textarea name="contact_message" placeholder="YOUR MESSAGE..."></textarea>
			<div class="field">
				<input type="submit" value="send" />
			</div>
		</form>
	</div>
</div>

