<%= render 'layouts/navbar' %>
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<p id="notice"><%= notice %></p>
<div class="poststyles">
  <div class="post-container">
  	<h1 class="post-title"><%= @post.title %></h1>
  	<div class="post-content">
  		<%= raw @post.content %>
  	</div>
  </div>



<% if current_user then %>
	<%= link_to 'Edit', edit_post_path(@post), class: 'btn' %>
	<%= link_to 'Back', posts_path, class: 'btn' %>
<% end %>
