<div class="footer">
  <div class="flex-row footer-top">
    <div class="phone">
      <p>01423 501323</p>
    </div>
  	<div class="footer-logo">
  		<%= image_tag('footer-logo') %>
  	</div>
    <div class="phone">
      <p>hello@content-market.co.uk</p>
    </div>
  </div>
  <div class="flex-row">
    <div class="privacy">
      <%= link_to 'privacy policy', 'privacy_policy.pdf' %>
    </div>
    <div class="copy">
      Copyright The Content Market 2018 &copy;
    </div>
    <div class="social">
      <div class="fb">
        <%= link_to 'https://www.facebook.com/TheContentMarket' do %>
        <%= image_tag('facebook') %>
        <% end %>
      </div>
      <div class="tw">
        <%= link_to 'https://twitter.com/Content_Market_' do %>
        <%= image_tag('twitter') %>
        <% end %>
      </div>
      <div class="ln">
        <%= link_to 'https://www.linkedin.com/company/the-content-market/' do %>
        <%= image_tag('linkedin') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
