
<nav class="top-nav">
	<ul>
		<li><%=link_to 'What We do', '#', id: 'what-we-do-btn' %></li>
		<li><%=link_to 'Who We Are', '#', id: 'who-we-are-btn' %></li>
	</ul>
	<div class="logo">
		<%= link_to root_path do %>
			<%= image_tag 'cm-logo' %>
		<% end %>
	</div>
	<ul>		
		<li><%=link_to 'Success Stories', '#', id: 'success-stories-btn' %></li>
		<li><%=link_to 'Blog', posts_path %></li>
	</ul>
</nav>