
<nav class="top-nav">
	<ul>
		<li><%=link_to 'What We do', root_path %></li>
		<li><%=link_to 'Who We Are', posts_path %></li>
	</ul>
	<div class="logo">
		<%= link_to root_path do %>
			<%= image_tag 'cm-logo' %>
		<% end %>
	</div>
	<ul>		
		<li><%=link_to 'Success Stories', root_path %></li>
		<li><%=link_to 'Blog', posts_path %></li>
	</ul>
</nav>